* {
    box-sizing: border-box;
}

html {
    height: 100%
}

/* aligned header with browser edges with margin */
body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    background: url(../images/seigaiha.png);
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 20px;
    height: 80px;
    background-color: #666666;
}

#myname {
    background-color:#66b2b2;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 10%;
    padding: 10px;
    color: white;
}

nav {
    position: absolute;
    bottom: 0;
    top: 2px;
    right: 10%;
    padding: 20px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

/* Added max-width to wrap content as text */
.wrapper {
    max-width: 960px;
    min-height: 100%;
    margin: 0 auto 0 auto;
    top: 20px;
    bottom: 40px;
    border: 1px solid gray;
    padding: 20px;
    background-color: #ffffff;
}

#content {
    font-family: Arial, Helvetica, sans-serif;
}

.text-block {
    position: absolute;
    background-color: teal;
    color: white;
}

#headshot {
    float: left;
    width: 100px;
    height: 150px;
    border: 1px solid #eeeeee;
    margin-right: 10px;
    margin-bottom: 10px;
}

#sectionheading {
    border-bottom: 3px solid #cccccc;
    margin-bottom: 5px;
    margin-top: 0;
    color: #66b2b2;
    padding: 5px; 
}

form {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

label {
    width: 100%;
    height: 30px;
    padding: 10px;
}

input {
    width: 100%;
    height: 30px;
    padding: 10px;
    margin: 10px;
}

#message {
    height: 70px;
}

#submit {
    background-color:#4aaaa5;
    padding: 10px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 70px;
    height: 50px;
}

#box1 {
    width: 150px;
    height: 150px;
    margin: 20px;
    position: relative;
}

#box2 {
    width: 150px;
    height: 150px;
    margin: 20px;
    position: absolute;
}

#box3 {
    width: 150px;
    height: 150px;
    margin: 20px;
    position: absolute;
}

#box4 {
    width: 150px;
    height: 150px;
    margin: 20px;
    position: absolute;
}

#box5 {
    width: 150px;
    height: 150px;
    margin: 20px;
    position: absolute;
}

#box6 {
    width: 150px;
    height: 150px;
    margin: 20px;
    position: absolute;
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

.footer {
    clear: both;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    text-align: center;
    height: 40px;
    width: 100%;
}
